.auth-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  &__form-container {
    width: 360px;
    min-height: 420px;
    position: relative;
    margin: auto;
  }
  &__header {
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    background: $blue;
  }
  &__form {
    width: 360px;
    min-height: 220px;
    &--register {
      min-height: 290px;
    }
    display: flex;
    flex-wrap: wrap;
    background-color: $mainColor;
  }
  &__field {
    width: 360px;
    height: 70px;
  }
  &__field-title {
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding-left: 30px;
  }
  &__input {
    width: 300px;
    margin: 10px 30px;
    height: 40px;
  }
  &__errors {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 10px;
    padding-left: 30px;
    color: $red;
    & span {
      display: block;
      width: 100%;
    }
  }
  &__button {
    width: 100px;
    height: 60px;
    display: block;
    margin: 0 auto;
  }
  &__link {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
}
