.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 60px;

  color: $font;
  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
  }
}
