.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  &__link-container {
    width: 50%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    &:nth-child(1) {
      // background-image: url("../utils/img/forest.jpg");
    }
    &:nth-child(2) {
      // background-image: url("../utils/img/catering.jpg");
    }
    transition: 0.1s;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
  &__card {
    max-width: 570px;
    height: 360px;
    // background-color: red;
    margin: auto;
    position: relative;
  }
  &__title {
    width: 100%;
    height: 160px;
    font-size: 60px;
    padding-left: 50px;
  }
  &__description {
    display: block;
    width: 100%;
    height: 100px;
    padding-left: 50px;
    text-align: justify;
  }
  &__button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 200px;
    height: 60px;
    cursor: pointer;
  }
  &__user-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 400px;
    height: 70px;
    z-index: 2;
  }
  &__small-login {
    width: 400px;
    height: 50px;
    display: flex;
    position: relative;
  }
  &__form {
    transform: scale(1);
    opacity: 1;
    transition: 0.4s;
    &--loading {
      transform: scale(0.9);
      opacity: 0.7;
    }
  }
  &__profile-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    color: $black;
    & a {
      color: $black;
      text-decoration: none;
      &:visited {
        color: $black;
        text-decoration: none;
      }
    }
  }
  &__input {
    height: 30px;
    width: 140px;
    margin: 5px;
    border: none;
    transition: 0.2s;
    border-bottom: 1px solid $black;
  }
  &__reg-link {
    display: block;
    height: 30px;
    padding-left: 7px;
    line-height: 30px;
    width: 100%;
    &__a {
      color: $blue;
      text-decoration: none;
    }
  }
  &__social-panel {
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  &__social-link {
    display: block;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    &--facebook {
      color: $fb-blue;
      & a {
        color: $fb-blue;
        &:visited {
          color: $fb-blue;
        }
      }
    }
    &--instagram {
      color: $ig-violet;
      & a {
        color: $ig-violet;
        &:visited {
          color: $ig-violet;
        }
      }
    }
  }
}

//loader
.landing-page__small-login-loader {
  display: inline-block;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  transition: 0.1s;
  &--loading {
    // display: inline-block;
  }
}
.landing-page__small-login-loader div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: $blue;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.landing-page__small-login-loader div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.landing-page__small-login-loader div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.landing-page__small-login-loader div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.landing-page__small-login-loader div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.landing-page__small-login-loader div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.landing-page__small-login-loader div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.landing-page__small-login-loader div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.landing-page__small-login-loader div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.landing-page__small-login-loader div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.landing-page__small-login-loader div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.landing-page__small-login-loader div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.landing-page__small-login-loader div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
