.landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  &__link-container {
    width: 50%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    &:nth-child(1) {
      // background-image: url("../utils/img/forest.jpg");
    }
    &:nth-child(2) {
      // background-image: url("../utils/img/catering.jpg");
    }
    transition: 0.1s;
    opacity: 0.8;
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
  &__card {
    max-width: 570px;
    height: 360px;
    // background-color: red;
    margin: auto;
    position: relative;
  }
  &__title {
    width: 100%;
    height: 160px;
    font-size: 60px;
    padding-left: 50px;
  }
  &__description {
    display: block;
    width: 100%;
    height: 100px;
    padding-left: 50px;
    text-align: justify;
  }
  &__button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 200px;
    height: 60px;
    cursor: pointer;
  }
  &__user-panel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 400px;
    height: 70px;
    z-index: 2;
  }
  &__small-login {
    width: 400px;
    height: 50px;
    display: flex;
  }
  &__profile-link {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    font-size: 40px;
    text-align: center;
    line-height: 70px;
    color: $black;
    & a {
      color: $black;
      text-decoration: none;
      &:visited {
        color: $black;
        text-decoration: none;
      }
    }
  }
  &__input {
    height: 30px;
    width: 140px;
    margin: 5px;
  }
  &__reg-link {
    display: block;
    height: 30px;
    padding-left: 7px;
    line-height: 30px;
    width: 100%;
    &__a {
      color: $blue;
      text-decoration: none;
    }
  }
}
