.main-nav {
  height: 60px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    background-color: $mainColor;
  }
  &__list-element {
    width: 160px;
    height: 100%;
    text-align: center;
    line-height: 60px;
    & a {
      color: $font;
      text-decoration: none;
      &:visited {
        color: $font;
        text-decoration: none;
      }
    }
  }
}
