$background: rgb(0, 0, 0);
$mainColor: rgb(50, 168, 82);
$font: rgb(255, 255, 255);
$red: red;
$blue: rgb(52, 134, 235);
$black: black;
$black-opacity: rgba(0, 0, 0, 0.2);
$fb-blue: #1877f2;
$ig-violet: #c42aa3;
